body {
    font-family: 'Roboto', sans-serif; /* Updated to use a modern font */
    background: linear-gradient(to bottom, #1E88E5, #64B5F6); /* Deep Blue to Light Blue gradient */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    animation: fadeIn 1s ease-in-out;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Add responsive margins for small screens */
@media (max-width: 600px) {
    .container {
        margin: 20px;
    }
}

#question {
    color: #212121; /* Dark Gray for readability */
    font-size: 1.5em;
}

.answers {
    margin-top: 20px;
}

.answer {
    background: #4CAF50; /* Primary Green */
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s, box-shadow 0.3s, border 0.3s;
}

.answer:hover {
    background: #66BB6A; /* Lighter Green */
}

.answer.correct:hover {
    background: #66BB6A; /* Lighter Green */
}

.answer:focus, .answer:active {
    outline: none;
    box-shadow: 0 0 10px #A5D6A7; /* Soft Green Glow */
    border: 1px solid #A5D6A7;
}

.secondary-text {
    color: #757575; /* Medium Gray for secondary text */
    font-size: 1em;
}

/* Add this to your existing CSS file */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
